@{
    ViewData["Title"] = "Desactivar";
}
<div class="m-0 row justify-content-center align-items-center">
    <div class="col-auto text-center">
        <h1 class="bi bi-check2-square">Desactivar</h1>
    </div>
</div>

