@{
    ViewData["Title"] = "Modificar";
}

<div class="m-0 row justify-content-center align-items-center">
    <div class="col-auto text-center">
        <h1 class="bi bi-pen">Modificar</h1c>
    </div>
</div>