/* _content/CRUD/Views/Inicio/Eliminar.cshtml.rz.scp.css */
#elim[b-o72tf5miyl]{
    cursor: pointer;
}
/* _content/CRUD/Views/Shared/_carga.cshtml.rz.scp.css */
body[b-opmmgzvydu] {
    background: #373940;
}

.socket[b-opmmgzvydu] {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -100px;
}

.hex-brick[b-opmmgzvydu] {
    background: #ABF8FF;
    width: 30px;
    height: 17px;
    position: absolute;
    top: 5px;
    animation-name: fade-b-opmmgzvydu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.h2[b-opmmgzvydu] {
    transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
}

.h3[b-opmmgzvydu] {
    transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}

.gel[b-opmmgzvydu] {
    height: 30px;
    width: 30px;
    transition: all .3s;
    -webkit-transition: all .3s;
    position: absolute;
    top: 50%;
    left: 50%;
}

.center-gel[b-opmmgzvydu] {
    margin-left: -15px;
    margin-top: -15px;
    animation-name: pulse-b-opmmgzvydu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

.c1[b-opmmgzvydu] {
    margin-left: -47px;
    margin-top: -15px;
}

.c2[b-opmmgzvydu] {
    margin-left: -31px;
    margin-top: -43px;
}

.c3[b-opmmgzvydu] {
    margin-left: 1px;
    margin-top: -43px;
}

.c4[b-opmmgzvydu] {
    margin-left: 17px;
    margin-top: -15px;
}

.c5[b-opmmgzvydu] {
    margin-left: -31px;
    margin-top: 13px;
}

.c6[b-opmmgzvydu] {
    margin-left: 1px;
    margin-top: 13px;
}

.c7[b-opmmgzvydu] {
    margin-left: -63px;
    margin-top: -43px;
}

.c8[b-opmmgzvydu] {
    margin-left: 33px;
    margin-top: -43px;
}

.c9[b-opmmgzvydu] {
    margin-left: -15px;
    margin-top: 41px;
}

.c10[b-opmmgzvydu] {
    margin-left: -63px;
    margin-top: 13px;
}

.c11[b-opmmgzvydu] {
    margin-left: 33px;
    margin-top: 13px;
}

.c12[b-opmmgzvydu] {
    margin-left: -15px;
    margin-top: -71px;
}

.c13[b-opmmgzvydu] {
    margin-left: -47px;
    margin-top: -71px;
}

.c14[b-opmmgzvydu] {
    margin-left: 17px;
    margin-top: -71px;
}

.c15[b-opmmgzvydu] {
    margin-left: -47px;
    margin-top: 41px;
}

.c16[b-opmmgzvydu] {
    margin-left: 17px;
    margin-top: 41px;
}

.c17[b-opmmgzvydu] {
    margin-left: -79px;
    margin-top: -15px;
}

.c18[b-opmmgzvydu] {
    margin-left: 49px;
    margin-top: -15px;
}

.c19[b-opmmgzvydu] {
    margin-left: -63px;
    margin-top: -99px;
}

.c20[b-opmmgzvydu] {
    margin-left: 33px;
    margin-top: -99px;
}

.c21[b-opmmgzvydu] {
    margin-left: 1px;
    margin-top: -99px;
}

.c22[b-opmmgzvydu] {
    margin-left: -31px;
    margin-top: -99px;
}

.c23[b-opmmgzvydu] {
    margin-left: -63px;
    margin-top: 69px;
}

.c24[b-opmmgzvydu] {
    margin-left: 33px;
    margin-top: 69px;
}

.c25[b-opmmgzvydu] {
    margin-left: 1px;
    margin-top: 69px;
}

.c26[b-opmmgzvydu] {
    margin-left: -31px;
    margin-top: 69px;
}

.c27[b-opmmgzvydu] {
    margin-left: -79px;
    margin-top: -15px;
}

.c28[b-opmmgzvydu] {
    margin-left: -95px;
    margin-top: -43px;
}

.c29[b-opmmgzvydu] {
    margin-left: -95px;
    margin-top: 13px;
}

.c30[b-opmmgzvydu] {
    margin-left: 49px;
    margin-top: 41px;
}

.c31[b-opmmgzvydu] {
    margin-left: -79px;
    margin-top: -71px;
}

.c32[b-opmmgzvydu] {
    margin-left: -111px;
    margin-top: -15px;
}

.c33[b-opmmgzvydu] {
    margin-left: 65px;
    margin-top: -43px;
}

.c34[b-opmmgzvydu] {
    margin-left: 65px;
    margin-top: 13px;
}

.c35[b-opmmgzvydu] {
    margin-left: -79px;
    margin-top: 41px;
}

.c36[b-opmmgzvydu] {
    margin-left: 49px;
    margin-top: -71px;
}

.c37[b-opmmgzvydu] {
    margin-left: 81px;
    margin-top: -15px;
}

.r1[b-opmmgzvydu] {
    animation-name: pulse-b-opmmgzvydu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
}

.r2[b-opmmgzvydu] {
    animation-name: pulse-b-opmmgzvydu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
}

.r3[b-opmmgzvydu] {
    animation-name: pulse-b-opmmgzvydu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: pulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
}

.r1 > .hex-brick[b-opmmgzvydu] {
    animation-name: fade-b-opmmgzvydu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .2s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .2s;
}

.r2 > .hex-brick[b-opmmgzvydu] {
    animation-name: fade-b-opmmgzvydu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .4s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .4s;
}

.r3 > .hex-brick[b-opmmgzvydu] {
    animation-name: fade-b-opmmgzvydu;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-delay: .6s;
    -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-delay: .6s;
}


@keyframes pulse-b-opmmgzvydu {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes fade-b-opmmgzvydu {
    0% {
        background: #ABF8FF;
    }

    50% {
        background: #90BBBF;
    }

    100% {
        background: #ABF8FF;
    }
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(0.01);
        transform: scale(0.01);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes fade {
    0% {
        background: #ABF8FF;
    }

    50% {
        background: #389CA6;
    }

    100% {
        background: #ABF8FF;
    }
}
/* _content/CRUD/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-layzia8bah] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-layzia8bah] {
  color: #0077cc;
}

.btn-primary[b-layzia8bah] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-layzia8bah], .nav-pills .show > .nav-link[b-layzia8bah] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-layzia8bah] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-layzia8bah] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-layzia8bah] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-layzia8bah] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-layzia8bah] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
