/* _content/CrudPro/Views/Home/addData.cshtml.rz.scp.css */
.neon-border[b-2wcmwa5ezw] {
    border: 2px solid #00f0f0; /* Color del borde de neón */
    border-radius: 10px; /* Radio del borde de la tarjeta */
    box-shadow: 0 0 10px #00f0f0, 0 0 20px #00f0f0, 0 0 30px #00f0f0; /* Efecto de neón */
    transition: all 0.3s ease; /* Transición suave para el efecto de neón */
}

    .neon-border:hover[b-2wcmwa5ezw] {
        box-shadow: 0 0 5px #00f0f0, 0 0 10px #00f0f0, 0 0 15px #00f0f0; /* Efecto de neón al pasar el mouse */
    }

.neon-input[b-2wcmwa5ezw] {
    border: 2px solid #ABF084; /* Color del borde de neón */
    border-radius: 5px; /* Radio de las esquinas */
    padding: 5px;
    background: rgba(0, 240, 240, 0.1); /* Fondo de neón */
    box-shadow: 0 0 10px rgba(0, 240, 240, 0.3); /* Sombra de neón */
    transition: all 0.3s ease; /* Transición suave para el efecto de neón */
}

    .neon-input:focus[b-2wcmwa5ezw] {
        outline: none;
        box-shadow: 0 0 15px rgba(0, 240, 240, 0.6); /* Efecto de neón al enfocar el campo */
    }

/* _content/CrudPro/Views/Home/deleteData.cshtml.rz.scp.css */
.neon-border[b-mux88jhzam] {
    border: 2px solid #00f0f0; /* Color del borde de neón */
    border-radius: 10px; /* Radio del borde de la tarjeta */
    box-shadow: 0 0 10px #00f0f0, 0 0 20px #00f0f0, 0 0 30px #00f0f0; /* Efecto de neón */
    transition: all 0.3s ease; /* Transición suave para el efecto de neón */
}

    .neon-border:hover[b-mux88jhzam] {
        box-shadow: 0 0 5px #00f0f0, 0 0 10px #00f0f0, 0 0 15px #00f0f0; /* Efecto de neón al pasar el mouse */
    }

.neon-input[b-mux88jhzam] {
    border: 2px solid #ABF084; /* Color del borde de neón */
    border-radius: 5px; /* Radio de las esquinas */
    padding: 5px;
    background: rgba(0, 240, 240, 0.1); /* Fondo de neón */
    box-shadow: 0 0 10px rgba(0, 240, 240, 0.3); /* Sombra de neón */
    transition: all 0.3s ease; /* Transición suave para el efecto de neón */
}

    .neon-input:focus[b-mux88jhzam] {
        outline: none;
        box-shadow: 0 0 15px rgba(0, 240, 240, 0.6); /* Efecto de neón al enfocar el campo */
    }
/* _content/CrudPro/Views/Home/modificarP.cshtml.rz.scp.css */
.neon-border[b-o2wsp7748x] {
    border: 2px solid #00f0f0; /* Color del borde de neón */
    border-radius: 10px; /* Radio del borde de la tarjeta */
    box-shadow: 0 0 10px #00f0f0, 0 0 20px #00f0f0, 0 0 30px #00f0f0; /* Efecto de neón */
    transition: all 0.3s ease; /* Transición suave para el efecto de neón */
}

    .neon-border:hover[b-o2wsp7748x] {
        box-shadow: 0 0 5px #00f0f0, 0 0 10px #00f0f0, 0 0 15px #00f0f0; /* Efecto de neón al pasar el mouse */
    }

.neon-input[b-o2wsp7748x] {
    border: 2px solid #ABF084; /* Color del borde de neón */
    border-radius: 5px; /* Radio de las esquinas */
    padding: 5px;
    background: rgba(0, 240, 240, 0.1); /* Fondo de neón */
    box-shadow: 0 0 10px rgba(0, 240, 240, 0.3); /* Sombra de neón */
    transition: all 0.3s ease; /* Transición suave para el efecto de neón */
}

    .neon-input:focus[b-o2wsp7748x] {
        outline: none;
        box-shadow: 0 0 15px rgba(0, 240, 240, 0.6); /* Efecto de neón al enfocar el campo */
    }
/* _content/CrudPro/Views/Home/readData.cshtml.rz.scp.css */
.hidden[b-5xjfs9k81z] {
    display: none;
}
/* _content/CrudPro/Views/Shared/_Cargando.cshtml.rz.scp.css */

.cargando[b-ymdme1wcuz] {
    position: relative;
    color: #5BFF00;
    margin-top: 2em;
    letter-spacing: 0.08em;
    text-transform: uppercase
}

.contenedor-loader[b-ymdme1wcuz] {
    height: 6em;
}

#contenedor[b-ymdme1wcuz] {
    display: grid;
    place-content: center;
    height: 100vh;
    color: #000;
}

.loader[b-ymdme1wcuz],
.loader[b-ymdme1wcuz]:before,
.loader[b-ymdme1wcuz]:after {
    background: #5BFF00;
    animation: cargando-b-ymdme1wcuz 1s infinite ease-in-out;
    width: 1em;
    height: 4em;
}

    .loader[b-ymdme1wcuz]:before,
    .loader[b-ymdme1wcuz]:after {
        position: absolute;
        top: 0;
        content: '';
    }

    .loader[b-ymdme1wcuz]:before {
        left: -1.5em;
    }

.loader[b-ymdme1wcuz] {
    text-indent: -9999em;
    margin: 40% auto;
    position: relative;
    font-size: 11px;
    animation-delay: 0.16s;
}

    .loader[b-ymdme1wcuz]:after {
        left: 1.5em;
        animation-delay: 0.32s;
    }

@keyframes cargando-b-ymdme1wcuz {
    0%, 80%, 100% {
        box-shadow: 0 0 #5BFF00;
        height: 4em;
    }

    40% {
        box-shadow: 0 -2em #5BFF00;
        height: 5em;
    }
}
/* _content/CrudPro/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-0k79v85ydt] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-0k79v85ydt] {
  color: #0077cc;
}

.btn-primary[b-0k79v85ydt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-0k79v85ydt], .nav-pills .show > .nav-link[b-0k79v85ydt] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-0k79v85ydt] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-0k79v85ydt] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-0k79v85ydt] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-0k79v85ydt] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-0k79v85ydt] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
