@model List<cImagen>
@{
    ViewData["Title"] = "Inicio";
}

<form asp-action="Index">
    <div class="m-0 row justify-content-center">
        <div class="col-auto mt-5 card bg-secondary text-white col-3" style="width:40rem;">
            @foreach (cImagen aPart in Model)
            {
                if (aPart.actual)
                {

                    <img src="@aPart.srcIm" class="card-img-top" alt="Aqui va la imagen :v" >
                    <input style="display:none" value="@aPart.posicion" name="iman" />
                    break;
                }
            }
            <div class="card-footer">
                <input value="Anterior" name="ant" type="submit" class="btn btn-primary" style="width:49%;" />
                <input value="Siguiente" name="sig" type="submit" class="btn btn-primary" style="width:49%;" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}